*,
*::before,
*::after{
    box-sizing: border-box;
    /*border-style: double;*/
}

/* Custom properties*/


:root{
    --ff-primary:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --ff-secondary:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    --fw-reg:300;
    --fw-bold:700;
    
    --clr-light: rgba(	255, 255, 255,1);
    --clr-dark:rgba(139, 0, 0,1);

    --fs-h1:3rem;
    --fs-h2:2.25rem;
    --fs-h3:1.25rem;
    --fs-body:1rem;
}

/*media query*/

@media(min-width:800px){
    :root{
        --fs-h1:4.5rem;
        --fs-h2:3.75rem;
        --fs-h3:1.5rem;
        --fs-body:1.125rem;

    }

}

/* General styles*/

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0 ;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;
}
/*change it to section*/
section{
    padding: 5em 2em;
}
strong{
    font-weight: var(--fw-bold);
}
div{
    height: 100vh;
    align-items: center;
}
/*Typography*/

h1,h2,h3{
    line-height: 1em;
    margin: 0;
}
h1{
    font-size: var(--fs-h1);
}
h2{
    font-size: var(--fs-h2);
}
h3{
    font-size: var(--fs-h3);
}
strong{
    font-weight: var(--fw-bold);
}

/*intro*/

.section_title{
    margin-bottom: .25em;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    font-size: var(--fs-h1);
    font-weight: var(--fw-reg);
    font-family: var(--ff-primary);
}
.section_subtitle{
    margin: 0%;
    font-size: var(--fs-h3);
}

/*Projects*/
/*In media min 600px and max 600px*/

.Project_1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--clr-dark);
    height: 100vh;

}

.Project_1_written{
    width: 30em;
    padding-right: 5 rem;
    height: 100%;
}
.Project_1_pic{
    
    width: 50vw;
    height: 100%;
    border-left: 20px solid var(--clr-dark);
    
}

#button1{
    margin: 1rem auto;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    width: 100%;
    height:2em;
    font-size: var(--fs-h3);
    border-color: var(--clr-dark);
}


/*media max width 600px*/

@media(max-width:600px){
    :root{
        --fs-h1:1.5rem;
        --fs-h2:1.25rem;
        --fs-h3:1rem;
    }
    .Intro{
        margin: 0 auto;
        display: grid;
        width: max-content;
        margin: 0 auto;
        grid-column-gap:1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
        
    }
    .Intro_img{
        grid-area: img;
        min-width: 125px;
        position: relative;
        z-index: 2;
    }
    .section_subtitle_Intro{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        left:-2em;
        position: relative;
        width: calc(100% + 3.5em);
    }

}


/*Project Heading*/

.section_title_Project_1
{
    background-color: var(--clr-light);
    color: var(--clr-dark);
    display: block;
    text-align: center;
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    font-style: var(--ff-primary);
}
.Project_1_title__Tools{
    background-color: var(--clr-light);
    display: inline;
    color: var(--clr-dark);
    font-size: var(--fs-h2);
    font-weight: var(--fw-bold);
    font-style: var(--ff-primary);
    
}
.section_subtitle_Project_1,
.Project_1_Tools{
    color: var(--clr-light);
    margin-bottom: 2rem;
}